/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*,
*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    /*font*/
    --body-font: "Inter" , sans-serif;

    /*color*/
    --text-color:#555;
    --text-hover-color:#888;
    --title-color:#111;
    --normal-font-size:16px;
    --primary-color:#42ffd2;
    --primary-hover-color:#00f5ba;
    --secondary-color:#fff;
    --secondary-hover-color:#d9d9d9;
    --light-color:#eee;
    --light-hover-color:#c8c8c8;
}


body{
    background: var(--light-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--body-font);
    overflow-x: hidden;
    line-height: 1.5;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

img{
    display: block;
    max-width: 100%;
}

input{
    background: none;
    border: none;
    font-family: var(--body-font);
    font-size: 1rem;
    line-height: 1.5;
}
::-moz-placeholder{
    color: #999;
}
:-ms-input-placeholder{
    color: #999;
}
::placeholder{
    color: #999;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

a,h1,h2,h4,h6{
    color: var(--title-color);
}
h1,h2,h4,h6{
    font-weight: 500;
}

h1{
    font-size: 48px;
    font-weight: 400;
    line-height: 1.208;
}

h2{
    font-size: 22px;

}

h4{
    line-height: 1.188;
}

h6{
    font-size: 12px;
    line-height: 1.25;
}

.hr{
    background-color: #ccc;
    border: none;
    height: 1px;
    margin-bottom: 2px;

}
.container{
    margin: 0 auto;
    max-width: 1392px;
    width: 85%;

}
.nav {
    margin-top: 36px;
}
.nav__container{
    align-items: center;
    display: flex;
}
.nav__toggler{
    cursor: pointer;
    display: grid;
    height: 19px;
    margin-right: 24px;
    place-items: center;
    z-index: 9999;
}
.nav__logo {
    margin-right: auto;
}
.nav__logo img {
    max-width: none;
}
@media (min-width:992px) {
    .nav__logo{
        margin-right: 98px;
    }
}
.nav__menu {
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    max-width: 250px;
    padding: 100px 32px 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: .5s;
    width: 90%;
    z-index: 9998;
}
.nav__menu--open{
    transform: translateX(0);
}
@media (min-width:992px) {
    .nav__menu {
        align-items: center;
        background: none;
        flex-direction: row;
        justify-content: flex-start;
        max-width: none;
        padding: 0;
        position: static;
        transform: translateX(0);
        width: 100%;
    }
}

.nav__search{
    background: #eee;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 448px;
    padding: 8px 12px;
    width: 100%;
}

@media (min-width:992px){
    .nav__search{
        background: #fff;
        margin-bottom: 0;    }
}
.nav__links-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width:992px) {
    .nav__links-wrapper {
        flex-direction: row;
        gap: 22px;
        justify-content: flex-end;
        margin-right: 22px
    }
}

.nav__link {
    display: block;
    font-weight: 500;
    line-height: 1.188;
    padding:22px;
    position: relative;
}
.nav__link:hover {
    background: #eee;
    border-radius: 8px;
}
@media (min-width:992px) {
    .nav__link {
        padding: 0
    }

    .nav__link:after {
        background-color: currentColor;
        bottom: -2px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s;
        width: 100%
    }

    .nav__link:hover {
        background: none;
        border-radius: 0
    }

    .nav__link:hover:after {
        transform: scaleX(1);
        transform-origin: left
    }
}
.nav__user img {
    max-width: none;
    width: 32px;
}

.hero {
    margin-top: 80px;
}
.hero__container, .hero__intro-wrapper {
    position: relative;
}
.hero__intro{
    max-width: 253px;
    padding-bottom: 56px;
}
@media (min-width:768px) {
    .hero__intro {
        max-width: 340px
    }
.hero__greet{
    color: #999;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.hero__cta , .hero__greet{
    margin-bottom: 24px;
}

.hero__cta span:nth-of-type(2){
    display: none;
}
@media (min-width:768px){
    .hero__cta span:nth-of-type(2){
        display: inline;
    }
}
@media (min-width:768px) {
    .hero__cta span:first-of-type{
        display: none;
    }
}
.upsell .hero__cta {
    max-width: 253px
}

@media (min-width:768px) {
    .upsell .hero__cta {
        max-width: 340px
    }

    .upsell .hero__create-btn span:first-of-type, .upsell .hero__desc span:first-of-type {
        display: block
    }
}

.upsell .hr:nth-of-type(2) {
    margin-bottom: 0
}



.hero__desc{
    font-size: 22px;
    margin-bottom: 32px;
}
@media (min-width:768px) {
    .hero__desc span:first-of-type {
        display: none
    }
}

.hero__desc span:nth-of-type(2) {
    display: none
}

@media (min-width:768px) {
    .hero__desc span:nth-of-type(2) {
        display: inline
    }
}
.hero_buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}
.btn--primary{
    --btn-bg:var(--primary-color);
    --btn-bg-hover:var(--secondary-hover-color)
}
.btn--secondary{
    --btn-bg:var(--light-color);
    --btn-bg-hover:var(--light-hover-color);
}
.btn{
    background: var(--btn-bg);
    border-radius: 8px;
    color: var(--btn-color,var(--title-color));
    font-weight: 500;
    line-height: 1.188;
    overflow: hidden;
    padding: 10.5px 12px;
    position: relative;
    transition: .5s;
    z-index: 1;


}

.btn::before{
    background: var(--btn-bg-hover);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
    width: 100%;
    z-index: -1;
    
}

.btn:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.btn--primary{
    --btn-bg:var(--primary-color);
    --btn-bg-hover:var(--primary-hover-color);
}

.btn--secondary{
    --btn-bg:var(--secondary-color);
    --btn-bg-hover:var(--secondary-hover-color);
}

.btn--light{
    --btn-bg:var(--light-color);
    --btn-bg-hover:var(--light-hover-color);
}
.btn--outline{
    --btn-bg:none;
    --btn-bg-hover:none;

}

.btn--outline:hover{
    color: #fff;
}

.mr-16{
    margin-right: 16px;
}
.notif-dot{
    display:inline-block;
    position: relative;
}

.notif-dot:after{
    background: #ff4242;
    border-radius: 50%;
    box-sizing: content-box;
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30% -30%);
    width: 10px;
    z-index: 1;
}
.notif-dot--outline:after {
    border: 3px solid #eee;
    height: 8px;
    transform: translate(3px, -3px);
    width: 8px
}

.notif-dot--check:after {
    background-color: var(--primary-color);
    background-image: url(img/check.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 16px;
    transform: translate(0);
    width: 16px
}

.section-margin {
    margin-bottom: 32px
}

@media (min-width:768px) {
    .section-margin{
        margin-bottom: 56px;
    }
}

.section-heading {
    -moz-column-gap: 24px;
    column-gap: 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 32px;
    row-gap: 16px;
}

.section-heading p {
    grid-row: 2;
}

.section-heading button {
    align-self: center;
    grid-row: span 2;
}
.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.swiper {
    height: 100%;
    width: 100%;
}


.intro-cards-wrapper {
    display: grid;
    gap: 24px;
    grid-template: 1fr;
}

@media( min-width : 768px) {
    .intro-cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

.intro-card {
    background-color: var(--bg-color, #fff);
    border-radius: 8px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2 , ifr);
    padding: 32px;
}


}