/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*,
*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    /*font*/
    --body-font: "Inter" , sans-serif;

    /*color*/
    --text-color:#555;
    --text-hover-color:#888;
    --title-color:#111;
    --normal-font-size:16px;
    --primary-color:#42ffd2;
    --primary-hover-color:#00f5ba;
    --secondary-color:#fff;
    --secondary-hover-color:#d9d9d9;
    --light-color:#eee;
    --light-hover-color:#c8c8c8;
}


body{
    background: var(--light-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--body-font);
    overflow-x: hidden;
    line-height: 1.5;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

img{
    display: block;
    max-width: 100%;
}

input{
    background: none;
    border: none;
    font-family: var(--body-font);
    font-size: 1rem;
    line-height: 1.5;
}
::-moz-placeholder{
    color: #999;
}
:-ms-input-placeholder{
    color: #999;
}
::placeholder{
    color: #999;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

a,h1,h2,h4,h6{
    color: var(--title-color);
}
h1,h2,h4,h6{
    font-weight: 500;
}